body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.7em;
    color: #000000;

}

.responsive{
    max-width: 100%;
    height: auto;
}

a:hover{color: #3F7C9D;}


footer{
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333333;
    font-variant: small-caps;
    font-size: .813em;
    text-align: center;
}

.container{
    width: 70% !important;
}

.brand-logo{
    font-size: 40px !important;
    margin-left: 10px;
}

a.selected{
    background-color: white;
    color:black;
}

th{
    height: 40px;
    font-weight: bold;
}

th,td{
    padding: 2px;
    text-align: center;
    border: 1px solid #333333;
}

form{
    width: 75%;
    margin: auto;
    border: solid 1px #075F8A;
    padding: 10px;
}

legend{
    font-weight: bold;
    text-align: center;
    color: #666666;
    margin-bottom: 5px;
}

label{
    font-weight: bold;
    text-align: center;
}

html{
    overflow-y: scroll;
}

iframe{
    display: block;
    margin: auto;
}